site_name: EgressGateway
docs_dir: docs
site_dir: site
repo_name: spidernet-io/egressgateway
repo_url: https://github.com/spidernet-io/egressgateway
# remote branch for mkdocs gh-deploy
remote_branch: github_pages
theme:
  name: material
  # The maximum depth of the navigation tree in the sidebar
  navigation_depth: 2
  palette:
    scheme: default
    primary: "#4478D1"
    language: zh
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.indexes
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - search.highlight
    - search.suggest
    - search.share

plugins:
  - tags
  - search

markdown_extensions:
  - meta
  - toc
  - tables
  - fenced_code
  - tables
  - attr_list

nav:
  - Home: README.md
  - Getting started:
      - Install: usage/install.md
