name: Auto Nightly CI

permissions: write-all
on:
  schedule:
    # each day
    - cron: "0 20 * * *"
  workflow_dispatch:

jobs:
  call_ci_latest:
    uses: ./.github/workflows/auto-pr-ci.yaml
    secrets: inherit
    with:
      ipfamily: all

  call_ci_v1_22_7:
    # it races to upload images and artifacts when all jobs running , so just call_ci_latest build image
    needs: [call_ci_latest]
    uses: ./.github/workflows/auto-pr-ci.yaml
    secrets: inherit
    with:
      kindNodeImage: v1.22.7
      ipfamily: dual
      justE2E: 'true'

  call_ci_v1_23_5:
    # it races to upload images and artifacts when all jobs running , so just call_ci_latest build image
    needs: [call_ci_latest]
    uses: ./.github/workflows/auto-pr-ci.yaml
    secrets: inherit
    with:
      kindNodeImage: v1.23.5
      ipfamily: dual
      justE2E: 'true'

  call_ci_v1_24_4:
    # it races to upload images and artifacts when all jobs running , so just call_ci_latest build image
    needs: [call_ci_latest]
    uses: ./.github/workflows/auto-pr-ci.yaml
    secrets: inherit
    with:
      kindNodeImage: v1.24.4
      ipfamily: dual
      justE2E: 'true'

  call_ci_v1_25_3:
    # it races to upload images and artifacts when all jobs running , so just call_ci_latest build image
    needs: [call_ci_latest]
    uses: ./.github/workflows/auto-pr-ci.yaml
    secrets: inherit
    with:
      kindNodeImage: v1.25.3
      ipfamily: dual
      justE2E: 'true'

  call_ci_v1_26_2:
    # it races to upload images and artifacts when all jobs running , so just call_ci_latest build image
    needs: [call_ci_latest]
    uses: ./.github/workflows/auto-pr-ci.yaml
    secrets: inherit
    with:
      kindNodeImage: v1.26.2
      ipfamily: dual
      justE2E: 'true'

  call_ci_v1_27_1:
    # it races to upload images and artifacts when all jobs running , so just call_ci_latest build image
    needs: [call_ci_latest]
    uses: ./.github/workflows/auto-pr-ci.yaml
    secrets: inherit
    with:
      kindNodeImage: v1.27.1
      ipfamily: dual
      justE2E: 'true'
  
  creat_issue:
    runs-on: ubuntu-latest
    needs: [call_ci_latest, call_ci_v1_22_7, call_ci_v1_23_5, call_ci_v1_24_4, call_ci_v1_25_3, call_ci_v1_26_2, call_ci_v1_27_1]
    # https://docs.github.com/en/actions/learn-github-actions/contexts#jobs-context
    if: ${{ always() && ( needs.call_ci_latest.result == 'failure' || needs.call_ci_v1_22_7.result == 'failure' || needs.call_ci_v1_23_5.result == 'failure' || needs.call_ci_v1_24_4.result == 'failure' || needs.call_ci_v1_25_3.result == 'failure' || needs.call_ci_v1_26_2.result == 'failure' || needs.call_ci_v1_27_1.result == 'failure' ) }}
    steps:
      - name: echo
        run: |
          echo ${{ github.repository }}
          echo ${{ github.repository_owner }}
          echo "TIMESTAMP=`date +%Y-%m-%d`" >> $GITHUB_ENV

      - name: create an issue
        uses: dacbd/create-issue-action@v1.2.1
        with:
          token: ${{ secrets.WELAN_PAT }}
          title: "Night CI ${{ ENV.TIMESTAMP }}: Failed"
          body: |
            action url: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          labels: "kind/ci-bug"
          assignees: "weizhoublue"