name: Call Release Doc

env:
  MERGE_BRANCH: github_pages
  SRC_DIRECTORY: 'docs'
  DEST_DIRECTORY: 'docs'
  PR_LABEL: pr/robot_update
  PR_REVIWER: weizhoublue

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
  # --- call by manual
  workflow_dispatch:
    inputs:
      ref:
        description: 'branch, tag, sha'
        required: true
        default: main

permissions: write-all

jobs:
  prepare_doc:
    name: prepare doc
    runs-on: ubuntu-latest
    outputs:
      ref: ${{ env.RUN_REF }}
    steps:
      - name: Get Ref
        id: get_ref
        run: |
          pwd
          ls
          if ${{ inputs.ref != '' }}; then
              echo "call by workflow_call"
              echo "RUN_REF=${{ inputs.ref }}" >> $GITHUB_ENV
          elif ${{ github.event_name == 'workflow_dispatch' }} ; then
              echo "call by workflow_dispatch"
              echo "RUN_REF=${{ github.event.inputs.ref }}" >> $GITHUB_ENV
          else
              echo "unexpected event: ${{ github.event_name }}"
              exit 1
          fi

      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          ref: ${{ steps.get_ref.outputs.ref }}

      - name: Build Site
        run: |
          make build_doc

      - name: Upload Artifact
        uses: actions/upload-artifact@v3.1.0
        with:
          name: site_artifact
          path: output/docs/site.tar.gz
          retention-days: 0
          if-no-files-found: error

  create_pr:
    name: Create PR
    needs: prepare_doc
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          ref: ${{ env.MERGE_BRANCH }}

      - name: Prepare
        run: |
          rm -rf ${{ env.DEST_DIRECTORY }}
          mkdir ${{ env.DEST_DIRECTORY }}

      - name: Download Artifact
        uses: actions/download-artifact@v3
        with:
          name: site_artifact
          path: ${{ env.DEST_DIRECTORY }}

      - name: Untar Doc
        run: |
          cd ${{ env.DEST_DIRECTORY }}
          tar -xzvf site.tar.gz
          rm -f site.tar.gz

      # https://github.com/peter-evans/create-pull-request
      - name: Create Pull Request
        id: create_pr
        uses: peter-evans/create-pull-request@v4.0.4
        with:
          title: "robot Update doc from ${{ needs.prepare_doc.outputs.ref }} to branch ${{ env.MERGE_BRANCH }} "
          commit-message: "robot Update chart from ${{ needs.prepare_doc.outputs.ref }} to branch ${{ env.MERGE_BRANCH }} "
          branch-suffix: timestamp
          branch: robot/update_doc
          delete-branch: true
          base: ${{ env.MERGE_BRANCH }}
          signoff: true
          token: ${{ secrets.WELAN_PAT }}
          labels: ${{ env.PR_LABEL }}
          reviewers: ${{ env.PR_REVIWER }}
