name: Call Trivy

permissions: write-all

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string

jobs:
  e2e_against_commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          ref: ${{ inputs.ref }}


      - name: Download egressgateway-agent
        uses: actions/download-artifact@v4.1.8
        with:
          name: image-tar-egressgateway-agent
          path: output/image
      - name: Download egressgateway-controller
        uses: actions/download-artifact@v4.1.8
        with:
          name: image-tar-egressgateway-controller
          path: output/image
      - name: Download egressgateway-nettools
        uses: actions/download-artifact@v4.1.8
        with:
          name: image-tar-egressgateway-nettools
          path: output/image


      - name: List downloaded files
        run: ls -al output/image


      # merge to one step
      # https://github.com/aquasecurity/trivy-action/issues/313
      - name: Scan agent
        uses: aquasecurity/trivy-action@0.24.0
        with:
          input: output/image/egressgateway-agent.tar
          severity: 'CRITICAL,HIGH'

      - name: Scan controller
        uses: aquasecurity/trivy-action@0.24.0
        with:
          input: output/image/egressgateway-controller.tar
          severity: 'CRITICAL,HIGH'

      - name: Scan nettools
        uses: aquasecurity/trivy-action@0.24.0
        with:
          input: output/image/egressgateway-nettools.tar
          severity: 'CRITICAL,HIGH'